{{!-- Citation for the following code:
Date: 07/31/2023
Table Code copied from
OSU nodejs-starter-app Github. Modified to run with our database
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main --}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<header>
    <h1>F1 Seasons</h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="F1Seasons.hbs">F1 Seasons</a>
    <a href="GrandPrix.hbs">Grand Prix</a>
    <a href="Teams.hbs">Teams</a>
    <a href="Drivers.hbs">Drivers</a>
    <a href="Principals.hbs">Principals</a>
    <a href="GrandPrixTeams.hbs">Grand Prix Teams</a>
</nav>

{{!-- Create a seasons table --}}
<table id="seasons_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the season_id, num_race, and year, in order --}}
        {{#each data}}
        <tr data-value={{this.season_id}}>
            <td>{{this.season_id}}</td>
            <td>{{this.num_races}}</td>
            <td>{{this.year}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<form id="add_season_form">
    <fieldset>
        <legend>Add a F1 Season</legend>
        <p>
            <label for="add_num_races">num_races</label>
            <input type="number" name="add_num_races" id="add_num_races" min="1" max="99" required
                placeholder="Number of races" />
        </p>
        <p>
            <label for="add_year">year</label>
            <input type="number" name="add_year" id="add_year" required placeholder="1950 - present" />
        </p>
        <button type="submit">Add</button>
    </fieldset>
</form>
<script src="./js/add_season.js"></script>
